name: DumprX

on:
  push:
    paths-ignore:
      - '*.md'
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkouts
         uses: actions/checkout@v2

       - name: Clone Dumprx
         run: |
              git clone --depth=1 https://github.com/WisnuArdhi28/DumprX
              
              
       - name: Setup Dumprx environment
         working-directory: DumprX
         run: |
              bash setup.sh

       - name: Setup config envs And Begin Dump
         working-directory: DumprX
         run: |
              NAME_OF_THIS_REPO="dumper"
              GITHUB_ORG_NAME="gudang-dump"
              GITHUB_USERNAME="WisnuArdhi28"
              GIT_CONFIG_USERNAME="WisnuArdhi28"
              GIT_CONFIG_EMAIL="wisnuardi128@gmail.com"
              GIT_GITHUB_TOKEN="${{ secrets.GIT_GITHUB_TOKEN }}"
              TG_BOT_TOKEN="${{ secrets.TG_BOT_TOKEN }}"
              TG_CHAT="@gudang_dummper"
              # GITLAB_HOSTNAME="gitgud.io" ## use 'gitlab.com' by default, or use your own gitlab instance, or any public one
              echo "$GITHUB_ORG_NAME" > .github_orgname
              # echo "$GITLAB_HOSTNAME" > .gitlab_instance
              echo "$GIT_GITHUB_TOKEN" > .github_token
              # echo "$GITLAB_ORG_NAME" > .gitlab_orgname
              # echo "$GITLAB_USERNAME" > .gitlab_username
              echo "$GITHUB_USERNAME" > .github_username
              # echo "$GITLAB_TOKEN" > .gitlab_token
              # echo "$CHAT_REQUEST_ID" > .tg_request_chat
              echo "$TG_BOT_TOKEN" > .tg_token
              echo "$TG_CHAT" > .tg_chat
              aria2c -o .tg_chat_id https://raw.githubusercontent.com/${GITHUB_USERNAME}/${NAME_OF_THIS_REPO}/main/CHAT_ID.txt
              aria2c -o .user_first_name https://raw.githubusercontent.com/${GITHUB_USERNAME}/${NAME_OF_THIS_REPO}/main/USER_FIRST_NAME.txt
              aria2c -o .user_id https://raw.githubusercontent.com/${GITHUB_USERNAME}/${NAME_OF_THIS_REPO}/main/USER_ID.txt
              aria2c -o .user_tag https://raw.githubusercontent.com/${GITHUB_USERNAME}/${NAME_OF_THIS_REPO}/main/USER_TAG.txt
              #Do Not Edit This
              git config --global user.name "$GIT_CONFIG_USERNAME"
              git config --global user.email "$GIT_CONFIG_EMAIL"
              #Send Telegram Conformation  #Sends A 'Starting Dump...' Message, and saves the message id to a file, so that, message can be edited live later on
              echo ""$(curl -X POST -H 'Content-Type: application/json' -d "{\"chat_id\": \"$(< .tg_chat_id)\", \"text\": \"Starting Dump...\", \"disable_notification\": true}" https://api.telegram.org/bot$TG_BOT_TOKEN/sendMessage | grep -oP "(\"message_id\":)[0-9]+" | cut -d ":" -f 2)"" > .message_id
              bash dumper.sh "$ROM_URL"

env:
  ROM_URL: https://realmemespaced.wisnuardhi27.workers.dev/0:/RMX1911EX_11.C.83_1830_202211301527.ozip
